<div class="panel">
  <div class="panel__header">Alerts ({{ alerts.length }})</div>
  <div class="panel__body">
    <div class="table__responsive">
      <table class="table table--striped">
        <thead>
          <tr>
            <th>Message</th>
            <th (click)="onChangeSortDir()">
              Category <i class="fas fa-sort"></i>
            </th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alert of alerts | sortBy: sortDir:'errorCategory'">
            <td>{{ alert.errorMessage }}</td>
            <td>{{ alert.errorCategory }}</td>
            <td>{{ alert.errorTime | date: "mediumTime" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
