<div class="panel">
  <div class="panel__header">Alerts ({{ alerts.length - 1 }})</div>
  <div class="panel__body">
    <div class="table__responsive">
      <table class="table table--striped">
        <thead>
          <tr>
            <th>Message</th>
            <th>Category</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alert of alerts">
            <td>{{ alert.errorMessage }}</td>
            <td>{{ alert.errorCategory }}</td>
            <td>{{ alert.errorTime | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
