rux-table-row{
    height: 30px;
    /* width: 100%; */
}

.row-container {
    /* width: 50vw; */
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;

}