.contacts-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  header {
    margin-bottom: 5px;

    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .contacts-summary {
      display: flex;

      .summary-item {
        margin-right: 10px;
      }
    }
  }

  .contacts-grid {
    height: 80%;
    width: 100%;
  }
}
