<div id="search-component">
  <input
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
    [(ngModel)]="term"
  />

  <ul class="search-result">
    <li
      *ngFor="let contact of contacts$ | async | slice: 0:4"
      (click)="onSelect(contact)"
      class="rux-form-field__text-input search"
      placeholder="Search …"
      type="search"
      #searchBox
      id="search-box"
    >
      {{ contact.contactName }} - {{ contact.contactStatus }}
    </li>
  </ul>
</div>
