<div>
  <div class="contacts-search-box">
    <span>Contacts</span>
    <app-contact-search [(searchModel)]="searchModel"></app-contact-search>
  </div>
  <div>
    <div class="contacts-biggest-box">
      <h2 class="contact-label">Current Contacts</h2>

      <div className="contact-container">
        <div class="contact-bin-header">
          <div class="numbers">
            <div>
              <h2>{{ contactCount }}</h2>
              <p>Contacts</p>
            </div>
            <div>
              <h2>{{ failureCount }}</h2>
              <p>Failed</p>
            </div>
            <div>
              <h2>{{ executingCount }}</h2>
              <p>Executing</p>
            </div>
          </div>
          <div class="dropdowns">
            <label>Status</label>
            <select class="rux-select">
              <option>All</option>
              <option>Normal</option>
              <option>Executing</option>
              <option>Failed</option>
            </select>
          </div>
        </div>
        <div class="table-box-box">
          <table class="rux-table">
            <tr class="rux-table__column-head">
              <th></th>
              <th>Name</th>
              <th>GS</th>
              <th>Equipment String</th>
              <th>Status</th>
              <th>AOS - LOS</th>
              <!-- <th>Details</th> -->
            </tr>
            <tbody *ngFor="let contact of contacts">
              <div *ngIf="!contacts.length">
                none found
              </div>
              <tr (click)="onSelect(contact)">
                <td>
                  <!-- wild times not getting contact.contactStatus to work -->
                  <rux-status status="normal"></rux-status>
                </td>
                <td>{{ contact.contactName }}</td>
                <td>{{ contact.contactGround }}</td>
                <td>{{ contact.contactEquipment }}</td>
                <td>{{ contact.contactState | titlecase }}</td>
                <td>
                  <div>
                    {{ contact.contactBeginTimestamp | date: "hh:mm:ss" }} -
                    {{ contact.contactEndTimestamp | date: "hh:mm:ss" }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="selectedContact" class="selected">
          <h2>Contact Details</h2>
          <div>Contact Name:{{ selectedContact.contactName }}</div>
          <div><span>id: </span>{{ selectedContact._id }}</div>
          <div><span>details: </span>{{ selectedContact.contactDetail }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
