.contacts-biggest-box {
  border: 1px solid rgba(230, 230, 230, 0.233);
  box-sizing: border-box;
  background-color: 1px solid rgba(255, 255, 255, 0.125);
  margin: 1rem;
}

.contacts-search-box span {
  padding: 1rem;
  display: inline-block;
}

.contact-bin-header {
  display: flex;
  justify-content: space-between;
}

.numbers {
  display: flex;
}

.contact-bin-header {
  padding: 0.5rem;
  top: 0;
  width: 100%;
  position: sticky;
}

.contact-bin-header div {
  text-align: center;
}

.contact-bin-header h2 {
  margin: 0 2rem;
  font-weight: 800;
  font-size: 2.5rem;
}

.contact-label {
  flex: none;
  background: rgba(20, 31, 44, 1);
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

.table-box-box {
  height: 400px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.rux-table {
  width: 100%;
  white-space: nowrap;
  table-layout: auto;
}

.rux-table th {
  top: 0;
  position: sticky;
}

.rux-table td {
  padding: 0.5rem;
}

.dropdowns {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}

.dropdowns label {
  display: block;
}
