<div>
  <style include="astro-css"></style>
  <div class="contact-bin-header">
    <!-- these three are based on contact count and status -->
    <h2 class="contact-count">Contacts</h2>
    <h2 class="contact-count">Failed</h2>
    <h2 class="contact-count">Executing</h2>
  </div>
  <div style="display: flex; padding: 2vh; justify-content: center;">
    <table class="rux-table" style="margin: 0;">
      <tr class="rux-table__column-head">
        <th>Status</th>
        <th>Name, Ground</th>
        <th>Equipment</th>
        <th>State</th>
        <th>Begin Timestamp - End Timestamp</th>
        <th>Full</th>
      </tr>
      <tbody *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <tr data-selected>
          <td>
            <rux-status status="${contact.contactStatus}"></rux-status>
          </td>

          <td>{{ contact.contactName }}, {{ contact.contactGround }}</td>
          <td>{{ contact.contactEquipment }}</td>
          <td>{{ contact.contactStatus }}</td>
          <td>
            <div>
              {{ contact.contactBeginTimestamp | date: "hh:mm:ss" }} -
              {{ contact.contactEndTimestamp | date: "hh:mm:ss" }}
            </div>
          </td>
          <td>
            <a routerLink="/detail/{{ contact.contactName }}"> Details </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="selected-contact-container">
    <div *ngIf="selectedContact">
      <h2>Contact {{ selectedContact.contactName }} Details</h2>
      <div><span>id: </span>{{ selectedContact._id }}</div>
    </div>
  </div>
</div>
