<div fxFlex fxLayout="column" class="alerts-list">
  <grm-alerts-list-header [alerts]="alerts"></grm-alerts-list-header>
  <ng-container [ngTemplateOutlet]="contentTemplate || alertsFetching" [ngTemplateOutletContext]="{alerts: alerts, itemsPerPage: itemsPerPage, currentPage: currentPage, errorMessage: errorMessage}"></ng-container>
</div>

<ng-template #alertsFetching>
  <rux-progress></rux-progress>
</ng-template>

<ng-template #alertsSuccess let-alerts="alerts" let-itemsPerPage="itemsPerPage" let-currentPage="currentPage">
  <div fxFlex class="alerts-list-items">
    <grm-alerts-list-item [alert]="alert" *ngFor="let alert of alerts | alertFilter:severityFilter:categoryFilter | alertSort:sortColumn:sortDirection | paginate:{itemsPerPage: itemsPerPage, currentPage: currentPage, id: 'alerts-controls'}"></grm-alerts-list-item>
  </div>
</ng-template>

<ng-template #alertsFailed let-errorMessage="errorMessage">
  <rux-notification open [message]="errorMessage" status="critical"></rux-notification>
  <rux-button [innerHtml]="'Retry'" (click)="tapRetry($event)"></rux-button>
</ng-template>