<div class="container">
	<h1 class="my-5">Contact Alerts</h1>
	<div class="my-5">
		<h6>Contacts Filter</h6> 
		<rux-segmented-button [data]="alertSeverityButtons" (ruxchange)="filterContactsBySeverity($any($event))"></rux-segmented-button>
	</div>
	<div class="my-5">
		<rux-table>
			<rux-table-header>
				<rux-table-row>
					<rux-table-cell class="py-3 ps-3">Contact Name</rux-table-cell>
					<rux-table-cell class="py-3">Contact Time</rux-table-cell>
					<rux-table-cell class="py-3">Alert Details</rux-table-cell>
				</rux-table-row>
			</rux-table-header>
			<rux-table-body>
				@for (contact of contacts$ | async; track $index) {
				<rux-table-row>
					<rux-table-cell class="align-top py-3 ps-3">
						{{ contact.contactName }}
					</rux-table-cell>
					<rux-table-cell class="align-top py-3">
						{{ contact.contactBeginTimestamp | date:'M/d/yy, hh:mm'  }}-{{ contact.contactEndTimestamp  | date: 'hh:mm' }}
					</rux-table-cell>
					@if (contact.alerts.length > 0) {
					<rux-table-cell class="align-top py-3">
						@for (alert of contact.alerts; track $index) {
						<div class="row" [class.pb-2]="$index != contact.alerts.length - 1">
							<div class="col col-3">
								{{ alert.errorTime | date:'M/d/yy, hh:mm' }}
							</div>
							<div class="col">
								<rux-icon icon="label" size="extra-small" [style.color]="indicateWithColor(alert.errorSeverity)" />
								{{ alert.errorMessage }}
							</div>
							<div class="col col-3">
								@if (!alert.acknowledged) {
									<rux-button icon="launch" size="small" secondary (click)="openAlertDetails(contact, alert)" class="float-end">
										Show Details
									</rux-button>
								} @else {
									<rux-button icon="check-box" size="small" secondary class="float-end" disabled>
										Acknowledged
									</rux-button>
								}
							</div>
							<rux-dialog open="{{ !alert.acknowledged && currentAlertErrorId == alert.errorId }}">
								<div slot="header">{{currentAlertErrorId}} {{ contact.contactSatellite }}</div>
								<span>{{ contact.contactDetail }}</span>
								<div slot="footer">
									<rux-button  (click)="acknowledgeAlertDetails(contact, alert)">Acknowledge</rux-button>
								</div>
							</rux-dialog>
						</div>
						}
					</rux-table-cell>
					} @else {
						<rux-table-cell class="align-top py-3">
							No alerts
						</rux-table-cell>
					}
				</rux-table-row>
				}
			</rux-table-body>
		</rux-table>
	</div>
</div>
