// styles.scss
@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css'

.mat-sort-header-arrow
    color: white !important

div.rux-dialog__wrapper
    color: green

[severity="warning"]
    color: var(--color-status-normal)

[severity="caution"]
    color: var(--color-status-caution)

[severity="serious"]
    color: var(--color-status-serious)

[severity="critical"]
    color: var(--color-status-critical)
