.alert-log{
overflow-y: scroll;
height: 100%;
}

.cell-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:10px;
    width: 10%;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid white;
}

.cell-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 5%;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid white;
}


rux-table-body{
overflow-y: scroll;
/* background-color: aquamarine; */
max-height: 1%;
}

rux-table-header-row{
    height: 40px;
}
.test {
    overflow-y: scroll;
}

/* .spacer{
    width: 40px;
    border: 1px solid white;
} */