<div class="panel">
  <div class="panel__header">
    <div>Contacts ({{ contacts.length - 1 }})</div>
    <div>Contact States ({{ totalStates }})</div>
  </div>
  <div class="panel__body">
    <div class="table__responsive">
      <table class="table table--striped">
        <thead>
          <tr>
            <th (click)="onChangeSortDir()">
              Name
              <i class="fas fa-sort"></i>
            </th>
            <th>Status</th>
            <th>Begin</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let contact of contacts
                | paginate: { itemsPerPage: itemsPerPage, currentPage: page }
            "
            [ngClass]="{ selected: contact.contactName === selectedContact }"
          >
            <td>{{ contact.contactName }}</td>
            <td>
              <app-contact-status
                [status]="contact.contactStatus"
              ></app-contact-status>
              {{ contact.contactStatus }}
            </td>
            <td>{{ contact.contactBeginTimestamp | date: "short" }}</td>
            <td>{{ contact.contactEndTimestamp | date: "short" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
</div>
