@import 'src/styles/grm-mixins';

:host {
  @include list-header-host;
}

.alerts-header {
  @include list-header-container;

  .alerts-header-summary {
    @include list-header-summary;

    .alert-count {
      @include list-header-count;
    }
  }

  .alerts-header-columns {
    @include list-header-columns;
  }

  .toggle {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;

    @include layout-bp(lt-sm) {
      font-size: 0.65rem;
    }
  }

  .status {
    width: 32px;
  }
}