@import 'src/styles/grm-mixins';

:host {
  @include list-header-host;
}

.alerts-header {
  border-right: 1px solid $ui-border;

  @include layout-bp(lt-sm) {
    border-right: none;
  }

  .alerts-header-label {
    @include list-header-label;
  }

  .alerts-header-summary {
    @include list-header-summary;

    .alert-count {
      @include list-header-count;
    }

    .alert-count-text {
      @include list-header-count-text;
    }
  }

  .alerts-header-options {
    @include list-header-options;
  }

  .alerts-header-columns {
    @include list-header-columns;
  }

  .toggle {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    width: 60px;

    @include layout-bp(lt-sm) {
      font-size: 0.65rem;
      width: 40px;
    }
  }

  .status {
    width: 40px;
  }
}