<div fxFlex class="alerts-header">
  <div fxLayout="row" fxLayoutAlign="start center" class="alerts-header-label">
    <div class="text" fxFlex="50" [innerHtml]="'Alerts'"></div>
    <div class="options" fxFlex>
      <pagination-controls
        id="alerts-controls"
        [maxSize]="0"
        [previousLabel]="''"
        [nextLabel]="''"
        (pageChange)="setCurrentPage($event)">
      </pagination-controls>
    </div>
  </div>
  <div fxLayout="row" class="alerts-header-options">
    <div class="alerts-header-summary" fxFlex>
      <span class="alert-count" [innerHtml]="alerts?.length || 0"></span>
      <span class="alert-count-text" [innerHtml]="'Active Alerts'"></span>
    </div>
  </div>
  <div class="alerts-header-columns" fxLayout="row" fxLayoutAlign="start center">
    <div class="toggle">
      <a href="#" [innerHtml]="getSelectAllText()" (click)="tapSelectAll($event)"></a>
    </div>
    <div class="status"></div>
    <div class="message" fxFlex [innerHtml]="'Message'"></div>
    <div class="category" fxFlex="20%">
      <a href="#" [innerHtml]="'Category'" (click)="tapSort($event, 'errorCategory')"></a>
    </div>
    <div class="time" fxFlex="10%" [innerHtml]="'Time'"></div>
  </div>
</div>