:host {
  border: 1px solid rgba(255, 255, 255, 0.0625);
  border-width: 1px 0;
}

.alerts-header {
  padding: 0.75rem 0.5rem;

  .alerts-header-summary {
    padding: 1rem 1rem 1.5rem;
    text-align: center;

    .alert-count {
      display: block;
      font-size: 2.75rem;
      line-height: 2.6rem;
      font-weight: 600;
    }
  }

  .alerts-header-columns {
    color: var(--logHeaderTextColor, rgb(169, 178, 188));
    font-weight: bold;
    padding-right: 12px !important;
  }

  .toggle {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
  }

  .status {
    width: 32px;
  }
}