.AlertDetailRow {
  display: flex;
  gap: var(--spacing-4);
  align-items: baseline;
  justify-content: flex-start;
}

.AlertDetailText {
  text-wrap: auto;
}

.AlertDetailRow:nth-child(1n + 2) {
  margin-block-start: var(--spacing-2);
}

.AlertSeverityCritical {
  color: var(--color-status-critical);
}

.AlertSeverityCaution {
  color: var(--color-status-caution);
}

.AlertSeveritySerious {
  color: var(--color-status-serious);
}

.RowAcknowledged {
  color: var(--color-status-off);
}
