// TODO(gabriel): Investigate the concept of slices further.  The styles
//  contained here might not be Astro compliant.  My goal is to ensure style
//  scope isolation and to be Astro design compliant, but I might not get there
//  in time.

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 15px;
}

.search-container {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}

#contact-table {
  height: 500px;
  overflow: scroll;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#contact-table rux-table-header-row rux-icon {
  vertical-align: middle;
}

#contact-table rux-table-header-cell .header-text:hover {
  cursor: pointer;

  // NOTE: 'width' doesn't seem to work here.  Why not?
  // width: 32px;
}

// Suppress the sorting pointer with column a '.no-sort' class.
#contact-table rux-table-header-cell.no-sort .header-text:hover {
  cursor: default;
}

// TODO(gabriel): How do we reference the Status Color design tokens?  Until I
//  figure this out I'm going to just hardcode the color values.
//  See https://www.astrouxds.com/patterns/status-system/#status-colors for more
//  details.
.critical {
  color: #FF3838;
}

.serious {
  color: #FFB302;
}

.caution,
.warning {
  color: #FCE83A;
}

.normal {
  color: #56F000;
}

.standby {
  color: #2DCCFF;
}

.off {
  color: #A4ABB6;
}

// TODO(gabriel): This styling might not be Astro compliant, but it looks pretty
//  cool.  If enough time remains change this if this formatting isn't Astro
//  compliant.
.dialog-grid {

  // Using CSS Grid.
  display: grid;

  // We define two columns in the grid.
  //
  // auto: The first column: It will be as wide as needed to fit its content.
  // 1fr:  The second column (for dynamic values): Takes up the remaining space
  //       in the row.  "fr" means "fractional unit" of available space.
  grid-template-columns: auto 1fr;

  // Define the spacing between grid items:
  // 4px (the vertical gap between rows), 16px (the horizontal gap between the
  // two columns).
  gap: 4px 16px;

  // Ensures items in the same row align to the top (instead of center-aligned
  // vertically, which is the default in some cases. This is useful when our
  // rows have content of varying height.
  align-items: start;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
  //font-weight: bold;
}

.spacer {
  margin-top: 10px;
}

.alert-section-separator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.acknowledged {
  color: #56F000;
}
