// TODO(gabriel): Investigate the concept of slices further.  The styles
//  contained here might not be Astro compliant.  My goal is to ensure style
//  scope isolation and to be Astro design compliant, but I might not get there
//  in time.

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 15px;
}

.search-container {
  margin-right: 15px;
}

#contact-table {
  height: 500px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

#contact-table rux-table-header-row rux-icon {
  vertical-align: middle;
}

#contact-table rux-table-header-cell .header-text:hover {
  cursor: pointer;

  // NOTE: 'width' doesn't seem to work here.  Why not?
  // width: 32px;
}

// TODO(gabriel): How do we reference the Status Color design tokens?  Until I
//  figure this out I'm going to just hardcode the color values.
//  See https://www.astrouxds.com/patterns/status-system/#status-colors for more
//  details.
.critical {
  color: #FF3838;
}

.serious {
  color: #FFB302;
}

.caution {
  color: #FCE83A;
}

.normal {
  color: #56F000;
}

.standby {
  color: #2DCCFF;
}

.off {
  color: #A4ABB6;
}
