<rux-container>

  <div slot="header">Contact Listing</div>

  <div class="toolbar">
    <div class="button-group">
      <rux-button size="large" secondary=""
        (click)="clearData()">Clear Data</rux-button>
      <rux-button size="large"
        (click)="loadData()">Load Data</rux-button>
    </div>
    <div class="search-container">
      <!-- TODO(gabriel): Why isn't the `ruxchange` event recognized by IntelliJ? -->
      <rux-input #searchInput
        type="text" placeholder="Search..." size="large"
        (ruxchange)="filterContactTable($event)">
        <rux-icon slot="prefix" icon="search" size="extra-small"></rux-icon>
      </rux-input>
    </div>
  </div>

  <div id="contact-table">
    <rux-table>
      <rux-table-header>
        <rux-table-header-row>
          <rux-table-header-cell
            (click)="sortData('contactStatus')">
            <span class="header-text">Status</span>
            <span *ngIf="sortColumn === 'contactStatus'">
            <rux-icon *ngIf="sortDirection === 'asc'"
              size="small" icon="arrow-drop-up"></rux-icon>
            <rux-icon *ngIf="sortDirection === 'desc'"
              size="small" icon="arrow-drop-down"></rux-icon>
          </span>
          </rux-table-header-cell>
          <rux-table-header-cell
            (click)="sortData('contactName')">
            <span class="header-text">Name</span>
            <span *ngIf="sortColumn === 'contactName'">
            <rux-icon *ngIf="sortDirection === 'asc'"
              size="small" icon="arrow-drop-up"></rux-icon>
            <rux-icon *ngIf="sortDirection === 'desc'"
              size="small" icon="arrow-drop-down"></rux-icon>
          </span>
          </rux-table-header-cell>
          <rux-table-header-cell
            (click)="sortData('contactSatellite')">
            <span class="header-text">IRON</span>
            <span *ngIf="sortColumn === 'contactSatellite'">
            <rux-icon *ngIf="sortDirection === 'asc'"
              size="small" icon="arrow-drop-up"></rux-icon>
            <rux-icon *ngIf="sortDirection === 'desc'"
              size="small" icon="arrow-drop-down"></rux-icon>
          </span>
          </rux-table-header-cell>
          <rux-table-header-cell
            (click)="sortData('contactGround')">
            <span class="header-text">Ground Station</span>
            <span *ngIf="sortColumn === 'contactGround'">
            <rux-icon *ngIf="sortDirection === 'asc'"
              size="small" icon="arrow-drop-up"></rux-icon>
            <rux-icon *ngIf="sortDirection === 'desc'"
              size="small" icon="arrow-drop-down"></rux-icon>
          </span>
          </rux-table-header-cell>
          <rux-table-header-cell
            (click)="sortData('contactState')">
            <span class="header-text">State</span>
            <span *ngIf="sortColumn === 'contactState'">
            <rux-icon *ngIf="sortDirection === 'asc'"
              size="small" icon="arrow-drop-up"></rux-icon>
            <rux-icon *ngIf="sortDirection === 'desc'"
              size="small" icon="arrow-drop-down"></rux-icon>
          </span>
          </rux-table-header-cell>
          <rux-table-header-cell>
            <span class="header-text">Alerts</span>
          </rux-table-header-cell>
        </rux-table-header-row>
      </rux-table-header>
      <rux-table-body>
        <rux-table-row *ngFor="let row of rows">

          <!-- See: https://astro-components.netlify.app/?path=/docs/components-status--docs          -->
          <rux-table-cell>{{ row.contactStatus }}</rux-table-cell>

          <rux-table-cell>{{ row.contactName }}</rux-table-cell>
          <rux-table-cell>{{ row.contactSatellite }}</rux-table-cell>
          <rux-table-cell>{{ row.contactGround }}</rux-table-cell>
          <rux-table-cell>{{ row.contactState | capitalize }}</rux-table-cell>
          <rux-table-cell>
            <div *ngFor="let alert of row.alerts">
              <span [ngClass]="[alert.errorSeverity, 'rux-body-1-bold']">
                {{ alert.errorSeverity | capitalize }}:
              </span>
              {{ alert.errorMessage }}
            </div>
          </rux-table-cell>
        </rux-table-row>
      </rux-table-body>
    </rux-table>
  </div>
</rux-container>
