<rux-container>

  <div slot="header">Contact Listing</div>

  <div class="toolbar">

    <div class="flex-direction-row">
      <div class="button-group">
        <rux-button size="large" secondary=""
          (click)="openClearDataConfirmDialog()">Clear Data</rux-button>
        <rux-button size="large"
          (click)="loadData()">Load Data</rux-button>
      </div>
      <div class="alert-checkbox">
        <rux-checkbox
          name="checkbox"
          [checked]="showOnlyAlerts"
          (ruxchange)="onAlertsCheckboxClick($event)"
        >Only Show Alerts</rux-checkbox>
      </div>
    </div>

    <rux-dialog #clearDataConfirmDialog
      id="clearDataConfirmDialog"
      confirmText="Clear Data"
      denyText="Cancel"
      (ruxdialogclosed)="onClearData($event)">
      <div slot="header">
        <div style="display: flex; align-items: center; gap: 15px;">
          <rux-icon icon="check-circle" size="normal"></rux-icon>
          <span>Confirm Action</span>
        </div>
      </div>
      Are you sure you want to clear the dashboard data?
    </rux-dialog>

    <rux-dialog #dataAlreadyLoadedDialog
      id="dataAlreadyLoadedDialog"
      confirmText="Ok"
      denyText="">
      <div slot="header">
        <div style="display: flex; align-items: center; gap: 15px;">
          <rux-icon icon="info" size="normal"></rux-icon>
          <span>Test Data Already Loaded</span>
        </div>
      </div>
      <p>
        The test dataset has already been loaded. To reload it, please clear
        the existing data first.
      </p>
      <p>
        <span class="rux-body-1-bold">NOTE:</span> Reloading the data will reset
        all Alert acknowledgement states back to false, essentially restoring
        the dashboard back to its initial load state.
      </p>
    </rux-dialog>

    <div class="search-container">
      <div class="search-input">
        <span *ngIf="textFilterApplied">
          &lt;&lt;&nbsp;Text Filter Applied&nbsp;&gt;&gt;
        </span>

        <!-- TODO(gabriel): Why isn't the `ruxchange` event recognized by
              IntelliJ? -->
        <rux-input #searchInput
          type="text" placeholder="Search..." size="large"
          (ruxchange)="filterContactTableViaSearch($event)">
          <rux-icon slot="prefix" icon="search" size="extra-small"></rux-icon>
        </rux-input>
      </div>
    </div>
  </div>

  <div id="contact-table">
    <block-ui name="tableBlock">
      <rux-table>
        <rux-table-header>
          <rux-table-header-row>

            <!-- Contact Status. -->
            <rux-table-header-cell
              (click)="sortData('contactStatus')">
              <span class="header-text">Status</span>
              <span *ngIf="sortColumn === 'contactStatus'">
                <rux-icon *ngIf="sortDirection === 'asc'"
                  size="small" icon="arrow-drop-up"></rux-icon>
                <rux-icon *ngIf="sortDirection === 'desc'"
                  size="small" icon="arrow-drop-down"></rux-icon>
              </span>
            </rux-table-header-cell>

            <!-- Contact Name. -->
            <rux-table-header-cell
              (click)="sortData('contactName')">
              <span class="header-text">Name</span>
              <span *ngIf="sortColumn === 'contactName'">
                <rux-icon *ngIf="sortDirection === 'asc'"
                  size="small" icon="arrow-drop-up"></rux-icon>
                <rux-icon *ngIf="sortDirection === 'desc'"
                  size="small" icon="arrow-drop-down"></rux-icon>
              </span>
            </rux-table-header-cell>

            <!-- Contact Satellite, aka "Iron". -->
            <rux-table-header-cell
              (click)="sortData('contactSatellite')">
              <span class="header-text">IRON</span>
              <span *ngIf="sortColumn === 'contactSatellite'">
                <rux-icon *ngIf="sortDirection === 'asc'"
                  size="small" icon="arrow-drop-up"></rux-icon>
                <rux-icon *ngIf="sortDirection === 'desc'"
                  size="small" icon="arrow-drop-down"></rux-icon>
              </span>
            </rux-table-header-cell>

            <!-- Contact Ground Station. -->
            <rux-table-header-cell
              (click)="sortData('contactGround')">
              <span class="header-text">Ground Station</span>
              <span *ngIf="sortColumn === 'contactGround'">
                <rux-icon *ngIf="sortDirection === 'asc'"
                  size="small" icon="arrow-drop-up"></rux-icon>
                <rux-icon *ngIf="sortDirection === 'desc'"
                  size="small" icon="arrow-drop-down"></rux-icon>
              </span>
            </rux-table-header-cell>

            <!-- Contact State. -->
            <rux-table-header-cell
              (click)="sortData('contactState')">
              <span class="header-text">State</span>
              <span *ngIf="sortColumn === 'contactState'">
                <rux-icon *ngIf="sortDirection === 'asc'"
                  size="small" icon="arrow-drop-up"></rux-icon>
                <rux-icon *ngIf="sortDirection === 'desc'"
                  size="small" icon="arrow-drop-down"></rux-icon>
              </span>
            </rux-table-header-cell>

            <!-- Alerts. -->
            <rux-table-header-cell class="no-sort">
              <span class="header-text">Alerts</span>
            </rux-table-header-cell>
            <!-- TODO(gabriel): How do we handle Alert row sorting?  An "Alert
                  Severity" drop-down?  Maybe.  Not sure yet, need to figure
                  out. -->

            <!-- Actions. -->
            <rux-table-header-cell class="no-sort">
              <span class="header-text">Actions</span>
            </rux-table-header-cell>
          </rux-table-header-row>
        </rux-table-header>

        <rux-table-body>
          <rux-table-row *ngFor="let contactRow of filteredContacts">

            <rux-table-cell>
              <div class="status-icons">
                <rux-status status="{{ contactRow.contactStatus }}"></rux-status>
              </div>
            </rux-table-cell>

            <rux-table-cell>{{ contactRow.contactName }}</rux-table-cell>
            <rux-table-cell>{{ contactRow.contactSatellite }}</rux-table-cell>
            <rux-table-cell>{{ contactRow.contactGround }}</rux-table-cell>
            <rux-table-cell>
              {{ contactRow.contactState | capitalize }}
            </rux-table-cell>

            <!-- Alerts. -->
            <rux-table-cell>
              <div *ngIf="contactRow.alerts.length > 0">
                <div *ngFor="let alert of contactRow.alerts">
                  <span [ngClass]="[alert.errorSeverity, 'rux-body-1-bold']">
                    {{ alert.errorSeverity | capitalize }}:
                  </span>
                  {{ alert.errorMessage }}
                  <span *ngIf="contactRow.alertStatus[alert.errorId]"
                    class="acknowledged"
                  >&nbsp;&lt;&lt;Ack&gt;&gt;</span>
                </div>
              </div>
              <div *ngIf="contactRow.alerts.length === 0">
                --
              </div>
            </rux-table-cell>

            <!-- Actions. -->
            <rux-table-cell>
              <rux-button *ngIf="contactRow.alerts.length > 0"
                size="small" secondary=""
                (click)="openAlertDetailsDialog(contactRow)"
              >Show Details</rux-button>
            </rux-table-cell>
          </rux-table-row>
          <rux-table-row *ngIf="filteredContacts.length === 0">
            <!-- TODO(gabriel): Would be cool if colspan was supported.
                  https://astro-components.netlify.app/?path=/docs/components-table--docs
             -->
            <rux-table-cell class="no-data-message">
              No data loaded.
            </rux-table-cell>
          </rux-table-row>
        </rux-table-body>
      </rux-table>
    </block-ui>
  </div>

  <!-- NOTE: I've added comments here to document my learning process and to act
       as a kind of dialog reference implementation. -->
  <rux-dialog #alertDialog
    id="alertDialog"
    confirm-text="Ok"
    deny-text="">
    <!-- TODO(gabriel): Would be cool: Add a Cancel button which would back out
          any acknowledgements. -->

    <!-- Here we're using the "header" slot to display a custom
         header title. -->
    <div slot="header">Alert Details</div>

    <!-- And here we're making use of Astro's default slot for message
         content. -->
    <div #alertDialogContent id="alertDialogContent">
      <div class="dialog-content-section">

        <!-- Contact Info Section. -->
        <div id="alert-contact-info" class="dialog-grid">
          <span class="rux-body-1-bold">Contact Satellite:</span>
          <span class="rux-body-1 monospace">
            {{ selectedContact?.contactSatellite }}
          </span>

          <!-- Spacer: Blank Row. -->
          <span class="spacer"></span>
          <span class="spacer"></span>

          <span class="rux-body-1-bold">Contact Details:</span>
          <span class="rux-body-1 monospace">
            {{ selectedContact?.contactDetail }}
          </span>

          <!-- Spacer: Blank Row. -->
          <span class="spacer"></span>
          <span class="spacer"></span>

          <span class="rux-body-1-bold">Contact Begin Time:</span>
          <span class="rux-body-1 monospace">
            {{ selectedContactBeginTime }}
          </span>

          <span class="rux-body-1-bold">Contact End Time:</span>
          <span class="rux-body-1 monospace">
            {{ selectedContactEndTime }}
          </span>

          <span class="rux-body-1-bold">Contact Duration:</span>
          <span class="rux-body-1 monospace">
            {{ selectedContactDuration }}
          </span>
        </div>

        <hr class="alert-section-separator">

        <!-- Alerts Section. -->
        <div id="alerts-section">
          <div *ngFor="let alert of selectedContact?.alerts"
            class="dialog-grid">

            <span class="rux-body-1-bold">Error:</span>
            <span>
              <!-- TODO(gabriel): Maybe it would be better to just show the
                    status icons here instead of the error severity text? -->
              <span [ngClass]="[alert.errorSeverity, 'rux-body-1-bold']">
                {{ alert.errorSeverity | capitalize}}:
              </span> {{ alert.errorMessage }}
            </span>

            <span class="rux-body-1-bold">Contact Name:</span>
            <span>
              {{ selectedContact!.contactName}}
            </span>

            <span class="rux-body-1-bold">Alert Status:</span>
            <ng-container
              *ngIf="selectedContact!.alertStatus[alert.errorId];
                else notAcknowledged">
              <span class="acknowledged">Acknowledged!</span>
            </ng-container>
            <ng-template #notAcknowledged>
              <rux-button size="small" secondary=""
                (click)="ackAlert(alert.errorId, selectedContact!)"
              >Acknowledge</rux-button>
            </ng-template>

            <!-- Spacer: Blank Row. -->
            <span class="spacer"></span>
            <span class="spacer"></span>

            <!-- Spacer: Blank Row. -->
            <span class="spacer"></span>
            <span class="spacer"></span>
          </div>
        </div>
      </div>
    </div>
  </rux-dialog>
</rux-container>
