<h2>Hello!</h2>
<p>Thanks for allowing me the opportunity to submit this take home project!</p> 
<p>Just a few things to note, look for the <mat-icon aria-hidden="false" aria-label="Example arrow icon">arrow_forward</mat-icon>
next to the table headers that are sortable by hovering over the header that's supposed to sort.</p>

<p>One of my tests for the HeaderComponent fails, it appears to be a known issue inside of Angular Material, <a href="https://github.com/angular/components/issues/10820">link here</a>. I decided to leave that test in it's failed state anyway.</p>
<p>I left out making this responsive, I did not see documentation on the Astro website pertaining to this. If I know the government though, 99% of people are using desktop computers to do their job, especially over secure networks.</p>

<p>Thank you for your time!</p>

<p>David</p>