$color-serious: rgba(255, 176, 0, 1);
$color-text: rgba(255, 255, 255, 1);

$ui-border: rgba(255, 255, 255, 0.0625);
$ui-header-text-color: rgba(169, 178, 188, 1);
$ui-header-label-color: rgba(20, 31, 44, 0.5);
$ui-color-tertiary-darken3: rgba(16, 25, 35, 1);
$ui-color-secondary-darken3: rgba(29, 67, 103, 1);