@import "vars";

.table {
  width: 100%;
  border-collapse: collapse;
  // padding: 1.25rem 0px;
  thead tr {
    background-color: map-get($theme, "table-blue");
    th {
      font-weight: 900;
      .fas {
        margin-left: 10px;
      }
    }
  }

  tbody tr {
    background-color: map-get($theme, "blue");
    &.selected {
      background-color: map-get($theme, "light-blue");
    }
  }

  th,
  td {
    white-space: nowrap;
    text-align: left;
    padding: 0.25rem 0.75rem;
    color: #fff;
  }

  tr {
    border-bottom: 1px solid map-get($theme, "dark-blue");
  }
  &__responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
