<div (click)="onClick()" [ngSwitch]="sortBy" class="h-8 w-8">
  <svg *ngSwitchCase="'ascending'"
    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"/>
  </svg>
  <svg *ngSwitchCase="'descending'"
    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"/>
  </svg>
  <svg *ngSwitchCase="'none'"
    fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
    <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
  </svg>
</div>