main
    background-color: var(--color-background-surface-default)
    padding-left: 3rem
    padding-right: 3rem
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: hidden

    section.mat-sort
        display: flex
        flex-direction: column
        height: 100%
        width: fit-content

        .sorting
            background-color: var(--color-background-surface-selected)
            padding: .5em

        .alerts-container
            flex-grow: 1
            overflow-y: scroll
