.alerts-biggest-box {
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.alert-bin-header {
  display: flex;
}

.alert-bin-header {
  padding: 1rem;
  position: sticky;
  width: 1rem;
  top: 0 !important;
}

.rux-table {
  display: block;
  height: 70vh;
  overflow-y: scroll;
}

.rux-table th {
  position: sticky;
  top: 0;
}

.alert-label {
  flex: none;
  background: rgba(20, 31, 44, 1);
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

.alert-bin-header h2 {
  margin: 0 2rem;
  font-weight: 800;
  font-size: 2.5rem;
}
