.alerts-biggest-box {
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.alert-table {
  font-size: 1rem;
  display: flex;
  width: 100%;
}
.alert-bin-header {
  display: flex;
  justify-content: center;
}

.alert-bin-header {
  padding: 0.5rem;
  position: sticky;
  z-index: 5;
  top: 0 !important;
  display: flex;
  align-content: center;
}

.rux-table {
  height: 75vh;
  overflow-y: scroll;
  z-index: 2;
  width: 100%;
}

.rux-table th {
  position: sticky;
  top: 0;
  z-index: 5;
}

.rux-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.alert-bin-header h2 {
  margin: 0 2rem;
  font-weight: 800;
  font-size: 2rem;
}

.dropdown-filter-box {
  display: flex;
}

.dropdowns select {
  display: block;
}

.dropdown-filter-box div {
  margin: 1rem;
}

label {
  font-weight: 700;
}

.rux-select {
  margin-top: 0.5rem;
}

.rux-table {
  // height: 300px;
  width: 100%;
  white-space: nowrap;
  overflow-y: scroll;
  table-layout: auto;
}

.rux-table th {
  position: sticky;
  top: 0;
}

.rux-table td {
  padding: 0.5rem;
}
