* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Global Classes */

.content-header {
  margin-bottom: 1rem;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  background: var(--color-background);
}

.content-table {
  max-height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* 
=======================================
Header
=======================================
*/

.dashboard-header {
  height: 15vh;
  display: flex;
}

.header-title {
  margin: auto auto;
}


/* 
=======================================
Alert & Contact Container
=======================================
*/

.alert-and-contact-container {
  display: flex;
  max-width: 1486px;
  height: 85vh;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}


/* 
=======================================
Alert
=======================================
*/

.dashboard-alert {
  padding: 1rem 0;
  text-align: center;
  flex: 0 0 50%;
}

.details-btn {
  padding: 0.25rem 0.25rem;
  color: white;
}

.alert-count {
  display: inline;
}

.alert-header-cell {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  /* width: 50%; */
}

.alert-cell-select {
  width: 5rem;
  padding-left: 2rem;
}

.alert-cell-message {
  padding-left: 10rem;
  width: 50%;
}

.alert-cell-name {
  padding-left: 7rem;
}

.alert-cell-time {
  padding-right: 2rem;
}

.alert-table-row {
  border-style: none;
  margin-top: none;
  margin-bottom: none;
  padding: 0.25rem 0.5rem;
  width: 5rem;
}

.alert-icon {
  margin: 0 auto;
  margin-left: 1rem;
}

.checkbox {
  display: flex;
  justify-content: center;
  width: 5rem;
  padding: 0.5 1rem;
}

.message {
  width: 50%;
}

.name {
  width: 10%;
}

.time {
  width: 20%;
}

.alert-btn-container {
  padding: 4rem 2rem;
}


/* 
=======================================
Contacts
=======================================
*/

.contact-table {
  max-height: 60%;
  overflow-y: scroll;
}

.dashboard-contacts {
  padding: 1rem 0;
  text-align: center;
  flex: 0 0 49%;
}

.contact-table-cell {
  border-style: none;
  margin-top: none;
  margin-bottom: none;
  padding: 0.5rem 0.5rem;
}

.contact-header-cell {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}

.contact-alert-name {
  padding-left: 3rem;
}

.contact-alert-equipment {
  padding-left: 5rem;
}

.contact-alert-state {
  padding-left: 3rem;
}

@media screen and (max-width: 768px) {

}