<div fxFlexFill fxLayout="column">
  <rux-global-status-bar fxFlex="10%" class="dark-theme" [appname]="title" version="3.1" *ngIf="(title$ | async) as title">
    <rux-clock small fxHide.lt-sm></rux-clock>
  </rux-global-status-bar>
  <div fxFlex>
    <div fxFlexFill fxLayout="column">
      <div id="container" fxFill fxLayout="row" fxLayout.lt-md="column">
        <div id="alerts" fxFlex>
          <grm-alerts-list fxFlex></grm-alerts-list>
        </div>
        <div id="contacts" fxFlex="60%" fxFlex.lt-md="50%">
          <grm-contacts-list fxFlex></grm-contacts-list>
        </div>
      </div>
    </div>
  </div>
</div>