<section class="mission-control">
  <div class="alerts">
    <app-alerts-table></app-alerts-table>
  </div>
  <div class="contacts">
    <div class="contacts__map">
      <app-contact-map
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentContactPage"
        (selectedContact)="selectedContact = $event"
      ></app-contact-map>
    </div>
    <div class="contacts__table">
      <app-contacts-table
        [itemsPerPage]="itemsPerPage"
        [selectedContact]="selectedContact"
        (pageChanged)="updateContactsPage($event)"
      ></app-contacts-table>
    </div>
  </div>
</section>
