:root {
  --font-size-base: 1.125rem;
  --line-height-base: 1.6;

  --font-size-4xl: 2.125rem;
  --font-weights-bold: 700;

  --spacing-2: 0.5rem;
  --spacing-4: 1rem;
  --font-heading-5-font-size: 0.875rem;
  --color-background-base-header: #172635;
  --color-background-base: #101923;
  --white: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scrollbar-color: #2b659b #1b2d3e;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

#root,
body,
html {
  background-color: var(--color-background-base);
}
