<div class="header">
    <div class="row">
        <div class="col">
            <h1><span class="grm-text">// GRM</span> Dashboard</h1>
        </div>
        <div class="col-2 filter">
            <span class="link" [ngClass]="linkColorAll()" (click)="all()">All</span>
            <span> / </span>
            <span class="link" [ngClass]="linkColorAlerts()" (click)="alerts()">Alerts</span>
            <span> / </span>
            <span class="link" [ngClass]="linkColorContact()" (click)="contacts()">Contacts</span>
        </div>
        <div class="col-1 profile">
            <img class="avatar" src="../../assets/img/astronaut-avatar.png">
            <div class="name">{{ name }}</div>
        </div>
    </div>
</div>