@import 'src/styles/grm-mixins';

.contact {
  @include list-item-container;

  .contact-row {
    @include list-item-row;

    &.failed {
      color: $color-serious;

      .step {
        color: $color-serious !important;
      }
    }

    .contact-status {
      min-width: 40px !important;

      @include layout-bp(lt-sm) {
        min-width: 30px !important;
      }
    }

    .status {
      @include layout-bp(lt-md) {
        color: var(--logHeaderTextColor, $ui-header-text-color);
      }

      .step {
        margin-left: 0.25rem;
        color: var(--logHeaderTextColor, $ui-header-text-color);
      }
    }
  }

  .contact-details {
    @include list-item-details;
  }
}