<div class="contact" [ngClass]="{'active': active}" *ngIf="contact">
  <div class="contact-row" [ngClass]="{'failed': isStateFailed(contact)}" fxLayout="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="center center" (click)="tapTogglelContactRow($event, contact)">
    <div class="contact-status" fxFlex fxLayoutAlign="start" fxLayoutAlign.gt-sm="center center">
      <rux-status [attr.status]="contact.contactStatus"></rux-status>
    </div>
    <div class="name" fxFlex="10%" [innerHtml]="contact.contactName"></div>
    <div class="gs" fxFlex="10%" [innerHtml]="contact.contactGround"></div>
    <div class="equipment-string" fxFlex="40%" fxHide.lt-md [innerHtml]="contact.contactEquipment"></div>
    <div class="status" fxFlex="20%" fxHide.lt-md>
      <span [innerHtml]="contact.contactState | titlecase"></span>
      <span class="step" fxHide.lt-md [innerHtml]="getStep(contact)"></span>
    </div>
    <div class="equipment-string-status" fxFlex="60%" fxHide fxShow.lt-md>
      <div class="equipment-string" [innerHtml]="contact.contactEquipment"></div>
      <div class="status">
        <span [innerHtml]="contact.contactState | titlecase"></span>
        <span class="step" [innerHtml]="getStep(contact)"></span>
      </div>
    </div>
    <div class="aos-los" fxFlex="20%" [innerHtml]="getAOSLOS(contact)"></div>
  </div>
  <div class="contact-details" [innerHtml]="contact.contactDetail" *ngIf="active"></div>
</div>