.table {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    min-height: 50%;
} 

.head {
    color: white;
    margin: auto;
    font-size: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    line-height: 30px;
    justify-content: space-around;
    align-items: center;
    .filter {
        display: flex;
        flex-direction: column;
        font-size: .2em;
        line-height: 20px;
        a {
            cursor: pointer;
        }
    }
    .alert-count {
        display: flex;
        flex-direction: column;
        h1 {
            font-weight: 600;
            font-size: .7em;
            &.error {
                animation: blinker 1.5s ease-in infinite;
                color: var(--statusDarkCritical, rgb(255, 56, 56));
            }
        }
        h3 {
            font-size: .2em;
            font-weight: 100;
        }
    }

}

.contact-timeline {
    padding-top: 10px;
    h1 {
        padding: 10px;
        font-size: 1.375rem;
        font-weight: 500;
    }
    max-height: 50%;
    overflow-y: auto;
}


@keyframes blinker {
    50% {
      opacity: 0;
    }
  }