rux-card
    &[acknowledged="true"]
        color: var(--color-status-off)

    &[severity="critical"] rux-icon
        color: var(--color-status-critical)

    &[severity="serious"] rux-icon
        color: var(--color-status-serious)

    &[severity="caution"] rux-icon
        color: var(--color-status-caution)

    &[severity="serious"] rux-icon
        color: var(--color-status-normal)
