<!--sidebar component-->
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <div class="logo-image"></div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>perm_contact_calendar</mat-icon> Contacts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/alerts"><mat-icon>notifications</mat-icon> Alerts</a>
</mat-nav-list>

