:host
  .mat-icon
    vertical-align middle
    margin-right 20px
    background: -webkit-linear-gradient(45deg, #FAA21B, #F58220);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
.profile-card
  text-align left
  padding 20px
  .logo-image
    width 100%
  .header
    padding 20px 10px

