<rux-container>
  <div style="display: flex; justify-content: center">
    <rux-global-status-bar
      include-icon="true"
      app-domain="Rocket Communications Inc"
      app-name="GRM"
      app-version="1.0 Alpha"
      menu-icon="satellite-transmit"
      username="Dion King"
      app-state-color="tag1"
      app-state="Dev"
    >
    </rux-global-status-bar>
  </div>
  <div>
    <rux-card>
      <div style="display: flex; justify-content: center">
        <app-alert-list></app-alert-list>
      </div>
    </rux-card>
  </div>
</rux-container>
