<div>
  <div class="comp-header">
    <div class="cHeaderTitle">Dashboard</div>
    <!-- themes -->
    <div class="theme-holder">
      <span class="light" matTooltip="Light Theme" #LightTheme="matTooltip" (click)="onSetTheme('default-theme')"></span>
      <span class="dark" matTooltip="Dark Theme" #DarkTheme="matTooltip" (click)="onSetTheme('dark-theme')"></span>
    </div>
  </div>

  <div class="flex-parent">

    <div class="contacts-holder ">
      <!-- contacts -->
      <app-contacts></app-contacts>
    </div>

    <div class="alerts-holder">
      <!-- alerts -->
      <app-alerts></app-alerts>
    </div>

  </div>

</div>

