<div class="dashboard-container">
    <rux-global-status-bar appname="Jon's App" version="1.0">
        <rux-tabs id="tab-set-id-1">
            <rux-tab id="contacts" [routerLink]="['/', 'contacts']">Contacts</rux-tab>
            <rux-tab id="alerts" [routerLink]="['/', 'alerts']">Alerts</rux-tab>
        </rux-tabs>
        <rux-clock small></rux-clock>
    </rux-global-status-bar>

    <div class="content-container">
        <rux-tab-panels class="tables" aria-labelledby="tab-set-id-1">
            <rux-tab-panel class="tab-panel" aria-labelledby="contacts"><app-contacts></app-contacts></rux-tab-panel>
            <rux-tab-panel class="tab-panel" aria-labelledby="alerts"><app-alerts></app-alerts></rux-tab-panel>
        </rux-tab-panels>

        <div class="charts">
            <app-charts></app-charts>
        </div>
    </div>
</div>
