#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.alert-row rux-table-cell {
  padding: 5px 0;
  font-size: smaller;
}
rux-table-row:not(.alert-row) rux-table-cell {
  font-size: large;
  font-weight: bold;
  padding: 15px 0;
}