rux-table-row:hover {
  color: #4eadfe; 
}

.critical {
  color: #ff3838; 
}

.serious {
  color: #ffb302;
}

.caution {
  color: #fce83a;
}

input[type=checkbox] {
  accent-color: #4eadfe;
  height: 1.2rem; 
  width: 1.2rem;
}