/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { padding: 20px; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.mat-badge-medium .mat-badge-content {
    padding: 2px;
}
.mat-card {
    padding: 10px !important;
    margin-bottom: 20px;
    width: fit-content;
    background-color: #3f51b5;
    color: white;
}