$colorCritical: #ff3838; //Critical, alert, emergency, urgent
$colorSerious: #ffb302; //Serious, error, warning, needs attention
$colorCaution: #fce83a; //Caution, unstable, unsatisfactory
$colorNormal: #56f000; //Normal, on, ok, fine, go, satisfactory
$colorStandby: #2dccff; //Standby, available, enabled
$colorOff: #9ea7ad; //Off, unavailable, disabled