

//
// Blues
//
$blueBG: #192738;
$borderBlueLight: #00ABFF;
$panelBG: #203146;
$tableHeaderBG: #344F71;

//
// Statuses
//
$statusOff: #9ea7ad;
$statusStandby: #2dccff;
$statusNormal: #56f000;
$statusCaution: #fce83a;
$statusSerious: #ffb302;
$statusCritical: #ff3838;
