<!--The content below is only a placeholder and can be replaced.-->
<div id="root">
  <div id="root-inner">
    <div style="text-align: center;">
      <div class="app-container">
        <rux-global-status-bar
          appname="GRM SatDash"
          version="1.0"
          class="header"
        >
          <rux-clock timezone="Pacific/Guam"></rux-clock>
          <!-- <app-contact-search></app-contact-search> -->
        </rux-global-status-bar>
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
      <app-debugger></app-debugger>
    </div>
  </div>
</div>

<!-- <nav>
    <a routerLink="/contacts">Contacts</a>
  </nav> -->
