<!--The content below is only a placeholder and can be replaced.-->
<div id="root">
  <div id="root-inner">
    <!-- <app-debugger></app-debugger> -->

    <rux-global-status-bar appname="GRM SatDash" version="1.0" class="header">
      <rux-clock timezone="Pacific/Guam"></rux-clock>
      <!-- <app-contact-search></app-contact-search> -->
    </rux-global-status-bar>
    <div class="app-container">
      <app-alert class="alerts"></app-alert>
      <router-outlet></router-outlet>
      <div class="detail"></div>
    </div>
  </div>
</div>

<!-- <nav>
    <a routerLink="/contacts">Contacts</a>
  </nav> -->
