<!--The content below is only a placeholder and can be replaced.-->
<div id="root">
  <div id="root-inner">
    <!-- <app-debugger></app-debugger> -->
    <rux-global-status-bar appname="GRM SatDash" version="1.0" class="header">
      <rux-clock timezone="Pacific/Guam"></rux-clock>
    </rux-global-status-bar>
    <div class="app-container">
      <app-alert class="alerts-final"></app-alert>
      <app-contacts class="contacts-final"></app-contacts>
      <div class="detail"></div>
    </div>
  </div>
</div>
