.app-container {
  overflow: hidden !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "alerts  contacts contacts"
    "alerts  contacts contacts"
    "alerts  detail detail";
}

.contacts-final {
  grid-area: contacts;
}

.alerts {
  grid-area: alerts;
  height: 100%;
  width: 100%;
}

.detail {
  grid-area: detail;
}
