<div class="flex flex-row items-center px-5 py-2">
  <h2 class="mr-2 h-8">Contacts</h2>
  <app-sort (sort)="onSort($event)"></app-sort>
</div>
<div class="flex flex-row items-center justify-between px-5">
  <div>{{allContacts.length}} Contacts</div>
  <div class="flex"><rux-status status="critical"></rux-status>{{contactStates.failed}} Failed</div>
  <div class="flex"><rux-status status="normal"></rux-status>{{contactStates.executing}} Executing</div>
</div>
<div class="m-5 mt-2 bg-tertiary-d2">
  <div class="ml-4 w-full flex flex-row">
    <div class="d-box w-16">Name</div>
    <div class="w-20">Satellite</div>
    <div class="mr-2">Status</div>
    <div>Begin/End</div>
  </div>
  <app-contacts-row *ngFor="let item of contactsPage" [contact]="item"></app-contacts-row>
  <app-pagination [items]="allContacts" (changePage)="onChangePage($event)"></app-pagination>
</div>
