$left-gutter-width: 20px;

.alerts-container {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: gray;

  .left-gutter {
    height: 100%;
    width: $left-gutter-width;
    display: flex;
    justify-content: center;
  }

  .alerts-content {
    height: 80%;
    width: calc(100% - #{$left-gutter-width});

    header {
      h2 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .alerts-summary {
        display: flex;

        .summary-item {
          margin-right: 10px;
        }
      }
    }

    .alerts-grid {
      height: 100%;
      width: 100%;
    }
  }
}
